/* Estilos globales */

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    /* grid */
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    width: 100%;
    max-height: 100vh;
}

a {
    text-decoration: none;
}

/*Estilos barra de navegacion */

.__navbar{   
    
    background-image: url("./../imagenes/ep_naturalblack.png");
}


.header__logo{
    padding-top: 55px;
    padding-bottom: 30px;
    background-image: url("./../imagenes/ep_naturalblack.png");

}

.navbar-nav {
    margin: auto;
}

.navbar-toggler-icon {
    color: white!important;
}

.navbar__items .navbar__item__link:hover {
    text-decoration: line-through;
    background-color: #4f5356;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0!important;
    padding-bottom: 25px;
}

.navbar-toggler:focus {   
    border-color: transparent!important;
}


.navbar__item__link {
    padding: 2.5px 40px 20px;
    position: relative;
    letter-spacing: 0.05cm;
    list-style-type: none;
}

.navbar__item__link a {
    color: white!important;
}


/* Estilos Index*/

.__index_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.home__titulo {
    font-size: 3rem;
    position: relative;
    font-style: italic;
    letter-spacing: 0.02em;
    text-align: center;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 4.5rem;
}

.home__presentation {   
    padding-left: 15%;
    padding-right: 15%;
}

.home__presentation__text {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#titulo_pagina {
    color: black;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.0625rem;
    font-size: 2rem;
    border: none;
    width: 100%;
    position: relative;
    padding-bottom: 1rem;
}

.text__pagina{
    color: #4f5356;
    text-align: justify;
    line-height: 2rem;
}

.home__presentation__picture{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.home_presentation_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.multimedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin-bottom: 1rem;
}

.multimedia__title{
    color: #938274;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.0625rem;
    font-size: 2.1875rem;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;    
}

.multimedia__video {
    width: 90%;
    height: 60vh;
}

.multimedia__button{
    color: black;
    background-color: white;
    margin-top: 2%;
    width: auto;
    padding: 1%;
    border: solid 1px white;
}

.multimedia__button:hover {
    background-color: whitesmoke;
    border: solid 1px black;
}

.multimedia__button a {
    color: black;
}

/* Estilo Team */

.team {
    width: 100%;
    position: relative;
    padding: auto;
    height: auto;
    margin: 0 auto;

}


.team__title {
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 18px;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: none;
    font-size: 55px;
    border: none;
    width: 100%;
    display: block;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.container .team__foto {
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
    
      

/*Estilos Portfolio*/

.portfolio__title {
    color: black;
    text-align: center;
    margin-top: 0.5;
    margin-bottom: 18px;
    font-style: italic;
    font-size: 60px;
    letter-spacing: 1.5px;
    text-transform: none;
    border: none;
    width: 100%;
    display: block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 2px;
}

.portfolio h3 {
    font-size: 30px;
    font-weight: 300;
    color: black;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0.25cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 0.1cm;
    padding-top: 0.5cm;
}

.portfolio__img {
    max-width: 80%;
    max-height: fit-content;
    display: block;
    padding-top: 30px;
    padding-bottom: 0%;
    margin: 0 auto;
    color: #938274;
}

.portfolio__img--b {
    max-width: 65%;
    max-height: fit-content;
    display: block;
    padding-top: 30px;
    padding-bottom: 0%;
    margin: 0 auto;
    box-sizing: border-box;
}

.portfolio__multimedia h4 {
    font-size: 20px;
    font-weight: 300;
    color: #938274;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0.25cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 0.5cm;
    padding-top: 0.5cm;
}

.portfolio__multimedia iframe {
    width: 65%;
    max-width: 100%;
    height: 600px;
    max-height: fit-content;
    display: block;
    padding-top: 10px;
    margin: 0 auto;
    padding-bottom: 00.5cm;
}

/* Estilos About */

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}

.about__title {
    padding-top: 3rem;
    font-size: 3rem;
    position: relative;
    font-style: italic;
    letter-spacing: 0.0938rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    color: black;
}

.about__text {
    color: black;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.0625rem;
    font-size: 1.25rem;
    width: 60%;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 2rem;
    line-height: 2rem;
} 

.about__subtitle{
    font-size: 1.875rem;
    font-weight: bolder;
    color: #938274;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 1rem;
} 

.about__table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
    margin: 0 auto;
}

.item{
    background-color: #eeee;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    border-style: groove;
    padding: 2rem;
}

.item1{
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
}


/* Estilos Conctact */
   
h2 {
    color:#4f5356;
    text-align: center;
    margin-top: 0.5;
    margin-bottom: 18px;
    font-style: italic;
    font-size: 40px;
    letter-spacing: 1.5px;
    text-transform: none;
    border: none;
    width: 100%;
    display: block;
    position: relative;
    padding-top: 30px;
    padding-bottom: 2px;
}


form.form-custom {
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 8%;
}

form.form-custom input {
    border: 1px solid #000000!important;
}

form.form-custom button {
    border: 1px solid #000000!important;
    background-color: #000000!important;
    border-radius: 0.25rem;
}


button {
    position: relative;
    border: 100px;
    width: 100px;
    text-align: center;
}


/* Estilos Footer */


.__footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.footer{
    background-image: url("./../imagenes/ep_naturalblack.png");
    max-width: 100%;
    padding: 2rem;
}

.footer__hijo{
    color: white;
    text-align: center;
}

.footer__hijo:hover {
    text-decoration: line-through;
}

.footer__instagram{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding-bottom: 0.5rem;
}

.footer__autor{
    color: gray;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.footer__button{
    text-decoration: none;
    bottom: 1.75rem;
    width: 3.4375rem;
    height: 3.4375rem;
    text-align: center;
    z-index: 100;
}

.contact-info-a-container {
    text-align: center;
    padding-bottom: 5%;
}


.contact-info-a-container a {
    color: white;
} 

.contact-info-a-container a:hover {
    text-decoration:  line-through;
} 


/* Media queries - HOME */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .multimedia__video {
        width: 80%;
        height: 80vh;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .footer__hijo{
        text-align: end;
    }
    
    .footer__instagram{
        text-align: start;
    }
    
    .footer__autor{
        text-align: end;
    }

    .contact-info-a-container {
        margin-right: auto;
        padding-bottom: 0%;
    }
    
    .contact-info {
        width: 100%;
    }

    .home__presentation__picture img {
        height: 80%;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .multimedia__video {
        width: 50%;
        height: 80vh;
    }
    
    .home__presentation{
        
        padding-left: 20px;
        padding-right: 20px;
        gap: 3rem;
    }

    .home__presentation__picture img {
        height: 85%;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .home__presentation {
        padding-left: 15%;
        padding-right: 15%;
    }
}

